body {
    background: #CFDBC5;
}
h1 {
    font-family: 'Comic Neue', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    padding-top: 25px;
}
strong {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    left: 31.5%;
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    top: 130px;
    padding-bottom: 50px;
}
input, select{
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 45px;
    border: 0;
    top: -5px;
    position: relative;
    text-align: center;
    font-size: 35px;
    width: 120px;
    font-family: 'Comic Neue';
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}
a {
    font-family: 'Comic Neue', sans-serif;
    color: #3369E8;
    text-decoration: none;
    font-size: 40px;
    text-align: left;
    float: left;
    padding-bottom: 0;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    clear: both;
    padding-bottom: 0;
    margin-botom: 0;
    padding-top: 0;
    margin-top: 0;
}
div {
    padding-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
}
p {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #333;
    text-align: right;
    float: right;
    padding-right: 150px;
    position: relative;
    top: -9px;
    display: inline-block;
    padding-bottom: 0;
    margin-botom: 0;
    padding-top: 10px;
    margin-top: 0;
}
